.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/bg4.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-shadow: inset 0  0 2000px rgba(0,0,0,0.7);
} 
.homeHeading{
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    background: linear-gradient(to right,rgb(241, 233, 233),rgb(93, 39, 228),#9bc409,rgb(3, 82, 82));
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(255,255,255,0.4);
}
.homepara{
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.maincontainer{
    display: flex;
    position: relative;
    top: 4%;
    gap: 1rem;
}
.Bmi{
    width: 50%;
    height: 65vh;
    background-color: rgba(0,0,0,0.7);
    padding: 2%;
    
}
.Bmi_heading{
    font-size: 2.5rem;
    background: linear-gradient(to left,rgb(123, 120, 123),rgb(141, 5, 93),#9bc409,rgb(3, 82, 82));
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    text-align: center;
}
.fitzz{
    width: 50%;
    height: 65vh;
    background-color: rgba(187, 247, 215, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
h2{
    color: white;
    margin: 2px;

}
#inp{
    width: 250px;
    margin: 2px;
}
.Bmi_first{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: start;
}
.result{
    color: white;
    position: absolute;
    bottom: 32%;
}
.resultText{
    position: absolute;
    bottom: 25%;
    background: linear-gradient(to right,rgb(255, 255, 168),rgb(49, 163, 202),#d4e694,rgb(16, 212, 212));
    background-clip: text;
    color: transparent;
}
.fitzz_heading{
    font-size: 2.5rem;
    background: linear-gradient(to right,rgb(225, 80, 80),rgb(141, 5, 93),rgb(44, 204, 94),yellow);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.bmiImage{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 3%;
}



@media (max-width: 768px) {
    .homepara{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .Bmi, .fitzz {
        width: 90%;
        
    }

    .Bmi_heading, .fitzz_heading {
        text-align: center;
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.5rem;
        
    }
    label{
        padding-bottom: 4%;
    }

    #inp {
        width: 80%; 
        
    }
    .result{
        position: absolute;
        top: 52%;
    }
    .resultText{
        position: absolute;
        top: 60%;
       
    }
    .bmiImage{
        position: absolute;
        top: 67%;
        left: 10%;
    }
}


@media (max-width: 564px) {
    .homeHeading{
        
        background: linear-gradient(to left,rgb(93, 39, 228),#9bc409,rgb(3, 82, 82));
        background-clip: text;
        color: transparent;
        
    }
    .maincontainer{
        display: flex;
        flex-direction: column;
        
    }
    .Bmi, .fitzz {
        width: 100%;
        
        
    }

    .Bmi_heading, .fitzz_heading {
        font-size: 1.8rem;
    }

    .homeHeading {
        font-size: 2rem;
    }

    .homepara {
        font-size: 1.2rem;
        padding: 0 10px;
    }
    
    .result{
        position: absolute;
        top: 28%;
        font-size: 1.5rem;
    }
    .resultText{
        position: absolute;
        top: 31%;
        font-size: 1.4 rem;
       
    }
    .bmiImage{
        position: absolute;
        top: 35%;
    }
}